.App {
  font-family: 'Courier New', Courier, monospace;
}

.Banner{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 35%;
}

.ExhibitRow{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}
